@model XoaySoTrungThuong.Prize
@{
    ViewBag.Title = "Luật chơi";
}
@{
    var c = (Prize)ViewBag.Prize;
}
<br />
<h2>@ViewBag.Title.</h2>
@Html.ActionLink("Xem danh sách quà tặng đã có", "ListPrize", "Home")
@using (Html.BeginForm("EditNewPrize", "Home", FormMethod.Post, new { EncType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="col-md-2 control-label" for="PrizeNumber">Cơ cấu giải</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CoCauGiai, new { @class = "form-control", @Value = c.CoCauGiai })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="PrizeNumber">Chi tiết giải</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ChiTietGiai, new { @class = "form-control", @Value = c.ChiTietGiai })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="PrizeNumber">Số lượng giải</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Number, new { @class = "form-control", @Value = c.Number })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="PrizeNumber">Ghi chú</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GhiChu, new { @class = "form-control", @Value = c.GhiChu })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="PrizeNumber">Áp dụng cho luật chơi</label>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ID_Rule, new SelectList(ViewBag.ListRule, "ID_Rule", "ID_Rule"), new { @Value = c.ID_Rule })
        </div>
        <input type="hidden" id="id_prize" name="id_prize" value="@c.ID_Prize" />
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="PrizeNumber">Hình Ảnh</label>
        <div class="col-md-10">
            <input type="file" name="file" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Nhập" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
